.icon {
  font-size: 4em;
  text-align: right;
}

.card-body {
  padding-bottom: 0px !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.card,
.card-subtile,
.card-link {
  color: white !important;
}

.card-detail {
  padding: 20px;
}

.card-link {
  text-align: center !important;
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.2);
}
